
.login{
    background-color: #1f1e1e;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid white;
    
    
}

.line{
    border-right: 2px solid #1FCC41;
    margin: 50px 462px 0px 10px;
    font-family: 'Orbitron', sans-serif;
    color: #1FCC41;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden ;
   
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 14em;
    }
}

@keyframes blinkCursor{
    from{
        border-right-color: #1FCC41;
    }
    to{
        border-right-color: transparent;
    }
}
.typing-animation{
    animation: blinkCursor 550ms infinite normal, typing 4s steps(30) 1s normal;
}